@import url('./test.css');
body {
    font-family: "Lato", sans-serif;
}

.sidenav-bar {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-y:hidden;
    padding-top: 20px;
    display: none;
}

.sidenav-bar a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav-bar a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 0;
    /* width: 100%; */
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px
}

@media screen and (max-height: 450px) {
    .sidenav-bar {padding-top: 15px;}
    .sidenav-bar a {font-size: 18px;}
}

@media screen and (min-width: 768px){
    header#nav-header{
        display: none;
    }
    div.sidenav-bar{
        display: block;
    }
    .main {
        margin-left: calc(30% + 10px); /* Same as the width of the sidenav */;
        margin-right: 10px;
    }
    
}

.active-link{
    color:#fff !important;
}

div#mySidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000000000;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  #closeMenu{
      color: #fff !important;
  }
  div#mySidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    /* color: #fff;#818181; */
    display: block;
    transition: 0.3s;
  }
  
  div#mySidenav a:hover {
    color: #f1f1f1;
  }
  
  div#mySidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  span#open-menu{
    cursor: pointer;
  }
  

.left { float: left; }
.right { float: right; }
.clear { clear: both; }

h1 { font-size: 18px; }
h6 { font-size: 13px; }

.profile-card {
    width: 80%;
    margin: 0 auto;
    /* height: 400px; */
    font: 12px "Myriad Pro";
}
.nametext{
    color:#fff;
    text-transform: capitalize;
}
.profile-card .profile-cover {
    background: url('https://dl.dropboxusercontent.com/s/b9zehob0bif4zr0/newyork.jpg') no-repeat center;
    position: relative;
    height: 260px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */

    transition: all .5s;
    -moz-transition: all .5s; /* Firefox 4 */
    -webkit-transition: all .5s; /* Safari and Chrome */
    -o-transition: all .5s; /* Opera */
}
.profile-card .profile-cover:hover {
    filter: none;
    filter: none;
    -webkit-filter: none;

}
.profile-card .profile-cover .profile-avatar {
    background: #ffffff;
    border: 1px solid #eeeeee;
    border: 5px solid #ffffff;
    width: 150px;
    height: 150px;
    position: absolute;
    margin: 25px auto 0;
    overflow: hidden;
    left: 0;
    right: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transition: all .5s;
    -moz-transition: all .5s; /* Firefox 4 */
    -webkit-transition: all .5s; /* Safari and Chrome */
    -o-transition: all .5s; /* Opera */
}
.profile-card .profile-cover .profile-avatar:hover {
    margin-top: 23px;
}
.profile-card .profile-cover .profile-avatar .btns-container {
    position: relative;
}
.profile-card .profile-cover .profile-avatar .btns-container .profile-links {
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
}
.profile-card .profile-cover .profile-avatar .btns-container .profile-links a {
    display: inline-block;
    background: #ffffff;
    text-decoration: none;
    padding: 5px;
}
.profile-card .profile-cover .profile-avatar .btns-container .profile-links a img {
    display: block;
}
.profile-card .profile-cover .profile-avatar .btns-container .profile-links a.zoom-avatar {
    background: rgba(103, 186, 144, 0.7);
}
.profile-card .profile-cover .profile-avatar .btns-container .profile-links a.zoom-avatar:hover {
    background: rgba(103, 186, 144, 1);
}
.profile-card .profile-cover .profile-avatar .btns-container .profile-links a.read-more {
    background: rgba(231, 76, 60, 0.7);
}
.profile-card .profile-cover .profile-avatar .btns-container .profile-links a.read-more:hover {
    background: rgba(231, 76, 60, 1);
}
.profile-card .profile-cover .profile-avatar .btns-container .profile-links a.view-map {
    background: rgba(157, 177, 218, 0.7);
}
.profile-card .profile-cover .profile-avatar .btns-container .profile-links a.view-map:hover {
    background: rgba(157, 177, 218, 1);
}
.profile-card .profile-cover .profile-details {
    background: rgba(0,0,0,0.4);
    border-top: 1px solid rgba(0,0,0,0.5);
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
    padding: 5px 0 7px;
}
.profile-card .profile-cover .profile-details h6 {
    font-weight: normal;
}
.profile-card .profile-info {
    background: #e74c3c;
    color: #ffffff;
    padding: 10px;
    font-family: Arial;
    text-align: justify;
}
.profile-card .profile-info h1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px;
    padding-left: 10px;
    margin-bottom: 5px;
}
.profile-card .profile-info .info-area {
    padding: 0 10px 5px;
}
.profile-card .profile-map {
    border-top: 1px solid #cccccc;
    float: left;
    width: 100%;
}
.profile-card .profile-content {
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-8 */
    border: 1px solid #cccccc;
    border-top: none;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.profile-card .profile-content ul li {
    float: left;
    padding: 10px 32px;
    text-align: center;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #ffffff;
}
.profile-card .profile-content ul li:first-child {
    border-left: none;
}
.profile-card .profile-content ul li:last-child {
    border-right: none;
}
.profile-card .profile-content ul li .digits {
    font-weight: bold;
    font-size: 16px;
}

.menu-container {
    position: relative;
    margin: 10px 0 0 10px;
    float: left;
}
.menu-container .list-icon {
    background: url('https://dl.dropboxusercontent.com/s/zgj5vdngzkemvpe/list-icon.png') no-repeat;
    height: 18px;
    width: 24px;
    display: none;
    opacity: 0.5;
    transition: all .5s;
    -moz-transition: all .5s; /* Firefox 4 */
    -webkit-transition: all .5s; /* Safari and Chrome */
    -o-transition: all .5s; /* Opera */
}
.menu-container .list-icon.active,
.menu-container .list-icon:hover {
    opacity: 1;
}
.menu-container .profile-actions {
    border: 1px solid rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.8);
}
.menu-container .profile-actions li {
    border-bottom: 1px solid #000000;
}
.menu-container .profile-actions li:last-child {
    border-bottom: none;

}
.menu-container .profile-actions li a {
    display: block;
    width: 100px;
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
    font: 10px Arial;
}
.menu-container .profile-actions li a:hover {
    background: rgba(221, 221, 221, 0.2);
}
.menu-container .profile-actions li:first-child a {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.menu-container .profile-actions li:last-child a {
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}

/* TABS STYLE */

.tabs{
    display:none;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    max-width: 800px;
}

.active{
    display:block !important;
}

section.card{
    display: flex;
    flex: 1 !important;
    width: 100% !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

div.testimonials{
    margin: 2.5rem 0;
    width: 100% !important;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex !important;
    flex: 1 !important;
    flex-direction: column;
    height: fit-content !important;
    min-height: 400px;
    padding-bottom: 10px;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-align-items: -moz-stretch;
    -webkit-align-items: -webkit-stretch;
    -ms-align-items: -ms-stretch;
    align-items: stretch;
}

div.author{
    flex-direction: row;
    justify-content: space-between
}

div.content{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}   

textarea#styled {
    width: 90%;
    height: 120px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin: 0 auto;
    outline: none !important;
    font-family: Tahoma, sans-serif;
    background-position: bottom right;
    background-repeat: no-repeat;
    box-shadow: none !important;
    background-color: rgba(255, 255, 255, 0.25) !important;
    color: #000 !important;
    font-size: 16px;
    line-height: 18px;
}


.upload-control{
    display: flex;
    /* flex: 1; */
    /* align-items: center; */
    justify-content: center;
}
.image{
    height: 300px;
    width: 300px;
    background-size: cover;
    /* background-size: 100% auto; */
    background-size: cover;
    /* background-size: 300px 150px; */
    background-repeat: no-repeat;
    background-position: center center;
    /* border-bottom: 2px solid #9E9E9E; */
    border: 1px solid #9e9e94;
    border-radius: 5px;
}
label#bb{
    padding: 10px;
    margin-top: 10px;
    background: #4caf50;;
    display: table;
    /* color: #000000bd !important; */
    cursor: pointer;
    color: #fff;
}

label.info{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    align-self: flex-start;
}

input[type=text]{
    margin-bottom:10px !important;
}

input[type="file"] {
    display: none;
}
div.action{
    margin-bottom: 10px;
}
button.btn {
    padding: 10px;
    color: #fff;
    background: #0f74b1;
    /* display: table; */
    /* display: flex; */
    width:100px;
    font-size: 16px;
    font-weight: 600;
}


/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

label.section{
    margin-top:10px !important;
    color: #900404d6;
}

div.control{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.maps{
    display: flex;
    width:100%;
    height: 200px;
    max-height: 350px;
}

.user-comment{
    outline:none !important;
}

.user-story{
    margin-bottom: 10px;
}

.underI{
    color: #34c6d3;
}
.red-flag-style{
    color: #de960f;
    font-size: 13px
}
.intervent-style{
    color: #48a918;
    font-size: 13px
}

.rejected{
    color: #f10718;
}
.resolved{
    color: #4caf50;
}
.container input:checked ~ .under-investigation-mark{
    background-color: #f5bf30 !important;
}
.container input:checked ~ .rejected-mark{
    background-color: #b71824 !important;
}
.container input:checked ~  .resolved-mark{
    background-color: #4caf50 !important;
}

.author{
    position: relative !important;
    margin-top: 20px;
    margin-right: 0 !important;
}





.report-card{
    background: #ffffff;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025);
    position: relative;
    /* min-height: 20px; */
    min-height: 20px !important;
    max-width: calc(80%);
    margin: 0 auto;
    border-radius: 4px;
    width: 100%;
    display: flex;
    padding: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.count{
    font-size: 150%;
    font-weight: 600;
}

.testimonials > :nth-last-child(-n + 3){
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
}